<p>Submit a new post</p>
<%= form_for(@post) do |f| %>
<div class="field">
	<%= f.label :'Post Text' %><br>
	<%= f.text_area :posttext %><br>
	<%= f.label :'Post Author' %><br>
	<%= f.text_field :postauthor %><br><br>
</div>
<div>
	<%= f.submit 'Create' %>
</div>
<% end %>